html {
  scroll-behavior: smooth;
}

/* header {

  position: fixed;
  width: 100%;
  padding-top: 15px;
  z-index: 9;
  padding: 0px 0 4px;
  height: 60px;
 } */

header {
  position: fixed;
  background-color: #e4ccea;
  width: 100%;
  padding-top: 15px;
  z-index: 9;
  padding: 0px 0 4px;
  /* height: 90px; */
}

@media (max-width: 639px) {
  header {
    height: 90px;
  }
}

.header-home {
  background-color: transparent;
}

.active-bg {
  background-color: #e4ccea;
  /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */

  /* background-color: #dedaf4; */
  /* background-color: #d9b0e7;  */
  /* background-color: #d1cceb; */
  /* background-color: #bacaf0;  */
}

.container {
  padding: 0 16px;
}

.about main {
  padding-top: 110px;
}

.work main {
  padding-top: 110px;
}

.wellnus main {
  padding-top: 110px;
}

.yolo main {
  padding-top: 110px;
}

.restaurenturer main {
  padding-top: 110px;
}

.tickeveryday main {
  padding-top: 110px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to regular */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 20px auto;
}

.home h1 {
  margin-top: 0px;
}

.home h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.39em;
  font-weight: 600;
  margin: 0px;
  padding: 10px 0;
}

h4 {
  margin: 0;
  padding: 10px 0;
}

ol {
  margin-bottom: 0px;
  margin-top: 10px;
}

picture {
  display: block;
  line-height: 0;
}

@media (max-width: 639px) {
  .logo {
    width: 90px;
    position: absolute;
    top: 25px;
    left: 20px;
  }
}

.center {
  text-align: center;
}

img {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #d11d70;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 500;
  font-size: 14px;
  /* text-align: center; */
  padding: 10px 50px;
  margin: 10px 0px;
  border-radius: 50px;
  /* width of the border, type, color */
  /* transition: 0.2s opacity; */
  text-decoration: none;
  min-width: 200px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/* nav {
  display: inline-block;
  width: 100%;
  margin: 0;
} */
/* Navbar styling */
a {
  color: #8e144c;
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  /* visited link */
  color: #8e144c;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4210aa;
  text-decoration: none;
  /* No Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #4210aa;
}

.active {
  color: #4210aa !important;
  border-bottom: 3px solid #4210aa;
  padding-bottom: 5px;
}

a.contact-link:hover {
  color: #4210aa !important;
}

a.contact-link:visited {
  color: #8e144c !important;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 7px;
  margin-left: 8px;
  margin-right: 8px;
}

.mobile-navbar {
  width: 100%;
}

/* .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
} */
.mobile-navbar .menu-items {
  padding-top: 120px;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
  height: 100vh;
  width: 100%;
  transform: translate(150%);
  display: flex;
  flex-direction: column;
  /* padding-left: 50px; */
  transition: transform 0.5s ease-in-out;
  text-align: center;
  text-transform: uppercase;
  /* background-color: #F1C3DE; */
  background-color: #e4ccea;
}

.mobile-navbar .nav-container li {
  list-style: none;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 30px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 1px;
  background: #8e144c;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.mobile-navbar .menu-items li {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.mobile-navbar .menu-items a {
  padding: 0.5rem;
  display: block;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo-box {
  display: none;
}

.desktop-navbar {
  display: none;
}

/* Homepage specific styling */
.home main {
  padding-top: 0px;
}

#hero {
  background-image: url("../img/home/get-in-touch-background-480.jpg");
  opacity: 0.7;
  position: relative;
  background-size: cover;
  top: 0px;
  padding-top: 90px;
  padding-bottom: 30px;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  #hero {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .desktop-navbar a:first-child {
    display: inline-flex;
    max-width: 90px;
  }

  /* header {
    height: 60px;
  } */
}

@media only screen and (min-width: 1024px) {
  #hero {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  #projects {
    padding-top: 20px;
  }
}

/* #hero {

  padding-top: 90px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-animation {
  position: absolute;
  top: 60;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  z-index: -1;
  opacity: 0.4;
} */

#hero img {
  opacity: 0.8;
}

#hero p {
  display: block;
  margin: 0px 10px;
  font-size: 14px;
  padding-top: 20px;
}

#hero h1 span {
  display: block;
  font-size: 60%;
  font-weight: 600;
  margin: 0px 5px;
}

#hero h1 {
  margin-bottom: 0;
}

.seeallworkbutton {
  margin-top: -10px;
  padding-bottom: 30px;
}

.center .button {
  margin-bottom: 20px;
}

/* ==============================
Navbar styling for Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .desktop-navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  .mobile-navbar {
    display: none;
  }

  #hero {
    background-image: url("../img/home/get-in-touch-background-767.jpg");
    opacity: 0.7;
    background-size: cover;
  }
}

/* About Me page specific styling */
.pictureandimage .row-about {
  margin-left: -16px;
  margin-right: -16px;
}

.pictureandimage .row-about .column-about-text {
  padding-left: 16px;
  padding-right: 16px;
}

h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0;
}

/* .about p {
  margin-left: 3%;
  margin-right: 3%;
} */
.tool {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  font-weight: 400;
  font-size: 12px;
  width: 30%;
  text-align: center;
  padding: 10px;
  transition: 0.2s opacity;
  /* margin-top: 20px; */
  margin-bottom: 0px;
}

.tool .empty {
  visibility: hidden;
}

.icons .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skillset {
  display: flex;
  flex-direction: column;
}

.subskill {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  max-height: 200px;
}

.dsubskillset {
  background-color: #f7c7df;
  text-align: center;
  padding: 0;
}

.subskill:nth-child(1) {
  background-color: #ffedf7;
}

.subskill:nth-child(2) {
  background-color: #f6e6f4;
}

.subskill:nth-child(3) {
  background-color: #e7ccf0;
}

.subskill:nth-child(4) {
  background-color: #dcb5d5;
}

.pmsubskillset {
  background-color: #d8f2f7;
  text-align: center;
  padding: 0;
}

.col-md-6-v2:nth-child(1) {
  background-color: #c4e5f9;
}

.col-md-6-v2:nth-child(2) {
  background-color: #87caf0;
}

.col-md-6-v2:nth-child(3) {
  background-color: #2aa1e4;
}

.subskill .heading {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.subskill p {
  text-align: center;
}

.skills {
  margin-bottom: 40px;
}

.cv {
  margin-top: 20px;
  padding-top: 0;
  padding-bottom: 40px;
}

.hobbies {
  padding-top: 20px;
  padding-bottom: 50px;
}

/* ==============================
About Me styling for Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .tool {
    width: 15%;
    font-size: 14px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-6-v2 {
    width: 33.33%;
  }

  .design-row {
    display: flex;
    flex-wrap: wrap;
  }

  .pm-row {
    display: flex;
    flex-wrap: wrap;
  }

  .pictureandimage .row-about {
    margin-left: -20px;
    margin-right: -20px;
  }

  .pictureandimage .row-about .column-about-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ==============================
About Me Styling for Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .row-about {
    display: flex;
    justify-content: space-between;
  }

  .pictureandimage .row-about {
    margin-left: 0;
    margin-right: 0;
  }

  .pictureandimage .row-about .column-about-text {
    padding-left: 0;
    padding-right: 0;
  }

  .column-about {
    width: 48%;
    padding-top: 15px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .column-about-text {
    min-width: 51%;
    max-width: 51%;
  }

  .pictureandimage .row-about .column-about-text p {
    margin-bottom: 12px;
  }

  .informal {
    margin-top: 15px;
    height: 310px;
    background-size: cover;
    background-image: url("../img/about/aasiya-informal-1024.jpg");
  }

  .informal img {
    visibility: hidden;
    display: none;
  }

  .cv {
    padding-top: 5px;
  }

  .tool {
    width: 9%;
    font-size: 11.5px;
    text-align: center;
    justify-content: center;
  }

  .icons {
    justify-content: center;
  }

  .empty {
    max-width: 0px;
    padding: 0;
  }

  .row .flex {
    justify-content: center;
  }

  .col-md-6 {
    width: 25%;
  }

  .col-md-6-v2 {
    width: 33.3%;
  }

  .about h2 {
    margin: 0;
  }

  /* .about .button {
      margin-top: 10px;
    } */

  .subskill {
    min-height: 230px;
    max-height: 230px;
    justify-content: center;
  }

  .hobbies {
    margin: 30px auto;
    block-size: fit-content;
    height: auto;
    min-height: 100%;
  }
}

/* ==============================
About Me Styling for X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1200px) {
  .section .skillset {
    max-width: 1200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .informal {
    margin-top: 15px;
    height: 350px;
    background-size: cover;
    background-image: url("../img/about/aasiya-informal-1920.jpg");
  }
}

/* Projects specific styling */
.project p {
  padding: 0px;
  margin: 0px;
}

.work .row-l {
  padding-bottom: 20px;
}

.project {
  padding-bottom: 30px;
}

.project a {
  color: #d11d70;
}

.project a:visited {
  /* visited link */
  color: #d11d70;
  text-decoration: none;
}

.project a:hover,
.project a:focus {
  color: #4210aa;
  text-decoration: none;
  /* No Underlining when hovering over a link */
}

.project a:active {
  /* selected link */
  color: #4210aa;
}

/* CSS Animation styling */
.animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #cf0bff;
  }

  to {
    fill: #111111;
  }
}

.f {
  animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes circle-move {
  from {
    transform: translate(0, 0px);
  }

  to {
    transform: translate(0, 200px);
  }
}

.e {
  animation-duration: 10s;
  animation-name: circle-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* YOLO page specific styling */
.yolo h4 {
  text-align: center;
}

.yolo .inner-section-wireframes p {
  font-size: 18px;
  font-weight: 700;
}

.yolo .inner-section-wireframes .column p {
  text-align: center;
}

.yolo .inner-section-wireframes .column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.wireframes-row {
  display: flex;
  overflow: scroll;
  margin-bottom: 30px;
}

.wireframes-row .column {
  min-width: 200px;
}

.yolo .inner-section h2 {
  background-color: #230407;
  text-align: center;
  font-weight: 700;
  font-family: "Bungee";
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  justify-content: center;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 15px;
}

.inner-section-mockups {
  padding-bottom: 0px;
}

.yolo main p {
  text-align: center;
  font-size: 13px;
}

.yolo .overview-paragraph {
  background-image: url("../img/yolo/overview-background-480.jpg");
  background-size: cover;
  padding-bottom: 200px;
  opacity: 0.8;
}

.yolo .overview-paragraph p {
  background-size: cover;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

.colour-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colour {
  text-align: center;
  padding: 10px 0px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  color: #ffffff;
  min-width: 46%;
}

.colour:nth-child(1) {
  background-color: #45b6fe;
}

.colour:nth-child(2) {
  background-color: #84cc34;
}

.colour:nth-child(3) {
  background-color: #ff3391;
}

.colour:nth-child(4) {
  background-color: #36008d;
}

.colour:nth-child(5) {
  background-color: #1e630c;
}

.colour:nth-child(6) {
  background-color: #f8e646;
  color: #111111;
}

.mockup-row {
  display: flex;
  overflow: scroll;
}

.yolo .mockup-row {
  padding-top: 10px;
  padding-bottom: 20px;
}

.mockup-row .column {
  min-width: 200px;
  max-width: 200px;
  margin-right: 15px;
}

.case-study {
  text-align: center;
}

.casestudy {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* YOLO Medium devices (640px and larger) styling */
@media only screen and (min-width: 640px) {
  .yolo .overview-paragraph {
    background-image: url("../img/yolo/overview-background-767.jpg");
    background-size: cover;
    padding-bottom: 200px;
    opacity: 0.8;
  }

  .yolo main p {
    font-size: 14px;
  }

  .yolo .inner-section h2 {
    font-size: 18px;
  }

  .colour {
    text-align: center;
    padding: 5px 0px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    color: #ffffff;
    min-width: 30%;
  }

  .yolo .colour p {
    font-size: 12px;
  }

  .yolo .style-guide-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .yolo .colour-palette {
    max-width: 60%;
    margin-right: 30px;
  }

  .yolo .ui-elements {
    max-width: 33%;
  }

  .yolo .ui-elements img {
    padding-top: 10px;
  }

  .yolo .typography {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .yolo .typography picture {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 10px;
  }

  .yolo .wireframes-row {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
  }

  .wireframes-row .column {
    min-width: 200px;
    max-width: 200px;
  }

  .yolo .wireframes-row .column {
    min-width: 180px;
    max-width: 180px;
  }

  .yolo .mockup-row .column {
    min-width: 180px;
    max-width: 180px;
    margin-right: 15px;
  }

  .casestudy {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* ==============================
YOLO  styling for Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .yolo p {
    font-size: 20px;
  }

  .yolo .overview-paragraph {
    background-image: url("../img/yolo/overview-background-1024.jpg");
    background-size: cover;
    padding-bottom: 200px;
    opacity: 0.8;
  }

  .yolo .style-guide-elements {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    justify-content: center;
  }

  .yolo .colour-palette {
    width: 55%;
    margin-right: 50px;
    padding-right: 0;
  }

  .colour p {
    font-size: 16px;
  }

  .colour {
    margin: 10px 0px;
    padding: 10px 0px;
  }

  .typography {
    width: 100%;
    padding-right: 0;
  }

  .typography img {
    max-width: 90%;
    justify-content: center;
    margin: 20px 50px;
  }

  .ui-elements {
    max-width: 33%;
    padding-right: 0;
  }

  .ui-elements img {
    margin-top: 0px;
  }
}

/* ==============================
YOLO styling for X-large devices (1200px or larger)
================================= */
@media only screen and (min-width: 1200px) {
  .yolo .overview-paragraph {
    background-image: url("../img/yolo/overview-background-1920.jpg");
    background-size: cover;
    padding-bottom: 200px;
    opacity: 0.8;
  }

  .colour {
    margin: 20px 0px;
    padding: 10px 0px;
  }

  .ui-elements img {
    margin-top: 10px;
  }

  .yolo .inner-section {
    max-width: 1200px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .yolo .inner-section-wireframes {
    max-width: 1200px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .yolo .inner-section-mockups {
    max-width: 1200px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* WEllnUS standard specific styling */
.wellnus .inner-section h2 {
  font-weight: 700;
  font-family: "Inter";
  font-size: 20px;
  padding: 20px 0;
  color: #0b63f6;
  text-align: left;
}

.wellnus h3 {
  font-weight: 700;
  font-family: "Inter";
  font-size: 17px;
  color: #9f0a9c;
  text-align: left;
}

.wellnus h4 {
  font-weight: 700;
  font-family: "Inter";
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  background-image: linear-gradient(45deg, #6510b2, #f1027c);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.wellnus main p {
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "open sans";
  font-size: 14px;
}

.wellnus ol {
  font-size: 14px;
}

.wellnus .overview-paragraph p {
  font-weight: 400;
  margin: 0;
}

.wellnus span {
  font-weight: 700;
}

.user-row {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.user {
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  color: #111111;
  margin: 0;
}

.user .heading {
  color: #111111;
  font-weight: 700;
}

.user p {
  padding-left: 10px;
  padding-right: 10px;
}

.user:nth-child(1) {
  background-color: #f895b8;
}

.user:nth-child(2) {
  background-color: #ffd86f;
}

.user:nth-child(3) {
  background-color: #a7a6f5;
}

.user:nth-child(4) {
  background-color: #dd8d8e;
}

.user:nth-child(5) {
  background-color: #59a9cf;
}

.user:nth-child(6) {
  background-color: #cae038;
}

.user:nth-child(7) {
  background-color: #cf8cb6;
}

.user:nth-child(8) {
  background-color: #e66011;
}

.user-flow .jtbds {
  display: flex;
  flex-direction: column;
}

.user-flow .jtbd1 .column {
  min-width: 35%;
  max-width: 35%;
}

.user-flow .jtbd2 .column {
  min-width: 33%;
  max-width: 33%;
}

.user-flow .jtbds .column {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.user-flow .jtbds .description p {
  padding-bottom: 20px;
}

.user-flow .jtbd1 {
  width: 40%;
}

.user-flow .jtbd2 {
  width: 40%;
}

.wellnus .user-flow .jtbds .jtbd1 {
  border: 1px solid #ddd;
  /* Gray border */
  border-radius: 4px;
  /* Rounded border */
  padding-bottom: 20px;
  /* Some padding */
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.wellnus .user-flow .jtbds .jtbd2 {
  border: 1px solid #ddd;
  /* Gray border */
  border-radius: 4px;
  /* Rounded border */
  padding-bottom: 20px;
  /* Some padding */
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.wellnus .mockup-row p {
  padding-top: 10px;
}

.wellnus .jtbds .column img {
  padding-bottom: 10px;
}

.wellnus .wireframes-row .column {
  margin-right: 20px;
}

.wellnus .wireframes-row .column:last-child {
  margin-right: 0px;
}

.wellnus .style-guide {
  background-image: url("../img/wellnus/style-guide-background-480.jpg");
  background-size: cover;
  padding-bottom: 30px;
}

.wellnus .style-guide a {
  color: #6510b2;
  font-weight: 700;
}

.second h3 {
  padding-top: 20px;
}

.prototype-row {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.wellnus .mockups .inner-section-mockups .container {
  padding-right: 0;
}

.wellnus .mockup-row .column {
  min-width: 200px;
  max-width: 200px;
}

.wellnus .android .column {
  min-width: 140px;
  max-width: 140px;
}

.wellnus .mockups .mockup-row .column:last-child {
  margin-right: 16px;
}

.ios-mockups .inner-section-mockups {
  /* background-image: url("../img/wellnus/mockup-background-480.jpg"); */
  background: rgb(241, 196, 15);
  background: linear-gradient(
    180deg,
    rgba(241, 196, 15, 1) 50%,
    rgba(150, 143, 133, 1) 50%
  );
}

.android-mockups .inner-section-mockups {
  background-image: url("../img/wellnus/android-background-480.jpg");
  background-size: cover;
}

.ios {
  padding-top: 20px;
  padding-bottom: 10px;
}

.android {
  padding-top: 20px;
  padding-bottom: 200px;
}

.prototype {
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111111;
}

.prototype:nth-child(1) {
  background-color: #699df6;
}

.prototype:nth-child(2) {
  background-color: #f1c40f;
}

.prototype a {
  color: #111111;
  text-decoration: underline;
}

.wellnus .casestudy {
  margin-top: 50px;
}

/* WEllnUS Medium devices (640px and larger) styling */
@media only screen and (min-width: 640px) {
  .wellnus .inner-section h2 {
    font-size: 24px;
    padding: 20px 0px;
  }

  .wellnus h3 {
    font-size: 20px;
    padding: 15px 0px;
  }

  .wellnus h4 {
    font-size: 18px;
  }

  .wellnus main p {
    font-size: 16px;
    margin: 0;
  }

  .wellnus ol {
    font-size: 16px;
  }

  .user-flow .jtbds {
    display: flex;
    flex-direction: row;
  }

  .user-flow .jtbds .description {
    width: 90%;
  }

  .user-flow .jtbd1 .column {
    min-width: 37%;
    max-width: 37%;
  }

  .user-flow .jtbd2 .column {
    min-width: 23%;
    max-width: 23%;
  }

  .user-flow .jtbds .column {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .user-flow .jtbds .description p {
    padding-bottom: 20px;
  }

  .user-flow .jtbd1 {
    width: 40%;
  }

  .user-flow .jtbd2 {
    width: 40%;
  }

  .wellnus .user-flow .jtbds .jtbd1 {
    border: 1px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding-bottom: 20px;
    /* Some padding */
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
  }

  .wellnus .user-flow .jtbds .jtbd2 {
    border: 1px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding-bottom: 20px;
    /* Some padding */
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
  }

  .wellnus .user-row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wellnus .user {
    width: 50%;
  }

  .wellnus .mockup-row .column {
    margin-right: 15px;
  }

  .wellnus .mockup-row .column {
    min-width: 280px;
    max-width: 280px;
  }

  .wellnus .android .column {
    min-width: 200px;
    max-width: 200px;
  }

  .wellnus .android {
    padding-top: 30px;
    padding-bottom: 200px;
  }

  .wellnus .testing .mockup-row {
    justify-content: space-evenly;
    overflow: hidden;
  }

  .wellnus .competitor-analysis .mockup-row {
    justify-content: space-evenly;
    overflow: hidden;
  }

  .wellnus .style-guide {
    background-image: url("../img/wellnus/style-guide-background-767.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .wellnus .testing-paragraph h3 {
    padding-top: 0;
  }

  .testing-images .mockup-row {
    justify-content: space-evenly;
    overflow: hidden;
  }

  .wellnus .mockups .mockup-row .column:last-child {
    margin-right: 20px;
  }

  .wellnus .second {
    margin-top: 30px;
  }

  .column .first {
    margin-right: 30px;
  }

  .prototype-row {
    flex-direction: row;
  }

  .prototype-row .prototype {
    width: 50%;
  }

  .ios-mockups .inner-section-mockups {
    background: rgb(241, 196, 15);
    background: linear-gradient(
      180deg,
      rgba(241, 196, 15, 1) 50%,
      rgba(150, 143, 133, 1) 50%
    );
  }

  .android-mockups .inner-section-mockups {
    background-image: url("../img/wellnus/android-background-767.jpg");
    background-size: cover;
  }
}

/* WEllnUS Larger devices (1024px and larger) styling */
@media only screen and (min-width: 1024px) {
  .wellnus .user-row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wellnus .user {
    max-width: 25%;
  }

  .wellnus .inner-section h2 {
    font-size: 30px;
    padding: 30px 0;
  }

  .wellnus h3 {
    font-size: 26px;
    padding: 20px 0px;
  }

  .wellnus h4 {
    font-size: 16px;
  }

  .user-flow {
    margin-top: 30px;
  }

  .wellnus .competitor-analysis .mockup-row {
    justify-content: space-evenly;
    overflow: hidden;
  }

  .wellnus .competitor-analysis .meal-plan .column {
    min-width: 300px;
    max-width: 300px;
  }

  .wellnus .competitor-analysis .social .column {
    min-width: 300px;
    max-width: 300px;
  }

  .wellnus .style-guide {
    background-image: url("../img/wellnus/style-guide-background-1024.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .wellnus .testing-images .column {
    width: 450px;
  }

  .ios-mockups .inner-section-mockups {
    background-image: url("../img/wellnus/mockup-background-1024.jpg");
    background-size: 100% 100%;
  }

  .android-mockups .inner-section-mockups {
    background-image: url("../img/wellnus/android-background-1024.jpg");
    background-size: cover;
  }

  .wellnus .android .column {
    min-width: 180px;
    max-width: 180px;
  }

  .wellnus .android {
    padding-top: 30px;
    padding-bottom: 160px;
    justify-content: space-evenly;
    overflow: hidden;
  }

  .wellnus .mockups .mockup-row .column:last-child {
    margin-right: 30px;
  }
}

/* WEllnUS V.Large devices (1200px and larger) styling */
@media only screen and (min-width: 1200px) {
  .wellnus .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .wellnus .mockups .ios .column:last-child {
    margin-right: 50px;
  }

  .wellnus .inner-section h2 {
    font-size: 34px;
    padding: 30px 0px;
  }

  .wellnus h3 {
    font-size: 28px;
    padding: 20px 0px;
  }

  .wellnus main p {
    font-size: 18px;
  }

  .wellnus ol {
    font-size: 18px;
  }

  .wellnus h4 {
    font-size: 18px;
  }

  .social .column {
    width: 400px;
  }

  .social .mockup-row {
    justify-content: center;
    overflow: hidden;
  }

  .wellnus .style-guide {
    background-image: url("../img/wellnus/style-guide-background-1200.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .wellnus .testing-images .column {
    width: 500px;
  }

  .ios-mockups .inner-section-mockups {
    background-image: url("../img/wellnus/mockup-background-1200.jpg");
    background-size: 100% 100%;
  }

  .android-mockups .inner-section-mockups {
    background-image: url("../img/wellnus/android-background-1200.jpg");
    background-size: cover;
  }

  .wellnus .ios .column:last-child {
    margin-right: 50px;
  }

  .wellnus .android {
    padding-bottom: 250px;
  }

  .wellnus .android .column {
    min-width: 200px;
    max-width: 200px;
  }

  .wellnus .android {
    display: flex;
    justify-content: space-evenly;
  }
}

/* restaurenturer standard specific styling */
.restaurenturer .inner-section h2 {
  font-weight: 700;
  font-family: "Open Sans";
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 40px;
  color: #50778a;
  text-align: center;
}

.restaurenturer h3 {
  font-weight: 700;
  font-family: "Open Sans";
  font-size: 17px;
  color: #50778a;
  text-align: left;
  text-transform: uppercase;
}

.restaurenturer main p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "open sans";
  font-size: 14px;
  color: #7d7377;
}

.restaurenturer span {
  font-weight: 700;
}

.restaurenturer .design-process img {
  margin-top: 10px;
}

.restaurenturer .user-row {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.insight {
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  justify-content: center;
}

.insight .heading {
  font-weight: 700;
}

.insight p {
  padding-left: 10px;
  padding-right: 10px;
}

.insight:nth-child(1) {
  background-color: #f4e7b9;
}

.insight:nth-child(1) p {
  color: #111111;
}

.insight:nth-child(2) {
  background-color: #c1b59c;
  display: none;
}

.insight:nth-child(2) p {
  color: #c1b59c;
}

.insight:nth-child(3) {
  background-color: #50778a;
  display: none;
}

.insight:nth-child(3) p {
  color: #50778a;
}

.insight:nth-child(4) {
  background-color: #dfded9;
}

.insight:nth-child(4) P {
  color: #111111;
}

.insight:nth-child(5) {
  background-color: #e7ebee;
}

.insight:nth-child(5) p {
  color: #111111;
}

.insight:nth-child(6) {
  background-color: #c690bf;
  display: none;
}

.insight:nth-child(6) p {
  color: #c690bf;
}

.insight:nth-child(7) {
  background-color: #7d7377;
  display: none;
}

.insight:nth-child(8) {
  background-color: #cbd6da;
}

.insight:nth-child(8) p {
  color: #111111;
}

.insight:nth-child(9) {
  background-color: #e6d6e4;
}

.insight:nth-child(9) p {
  color: #111111;
}

.insight:nth-child(10) {
  background-color: #c1b59c;
  display: none;
}

.insight:nth-child(10) p {
  color: #c1b59c;
}

.restaurenturer .competitor-analysis .opentable .mockup2 {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 100%;
}

.restaurenturer .competitor-analysis .phone-screens {
  margin-top: 20px;
}

.restaurenturer .competitor-analysis .column p {
  margin-top: 10px;
}

.restaurenturer .mob-tab-persona-text {
  padding-top: 20px;
}

.restaurenturer .personas .mockup-row {
  overflow: scroll;
}
.restaurenturer .personas .mockup-row .column {
  padding-top: 20px;
  min-width: 96%;
  max-width: 96%;
}

.restaurenturer .personas .mockup-row .column {
  padding-top: 20px;
  min-width: 288px;
}

.restaurenturer .wireframes-row {
  padding-bottom: 30px;
}
.restaurenturer .wireframes-row .column {
  margin-right: 20px;
  margin-top: 10px;
}

.restaurenturer .wireframes h3 {
  text-align: center;
  font-size: 15px;
  text-transform: none;
}

.restaurenturer .wireframes-row .column:last-child {
  margin-right: 0px;
}

.restaurenturer .style-guide {
  background-image: url("../img/restaurenturer/style-guide-background-480.jpg");
  background-size: cover;
  padding-bottom: 30px;
}

.restaurenturer .style-guide a {
  color: #8e144c;
}

.restaurenturer .inner-section-mockups .iphone-mockups {
  background-image: url("../img/restaurenturer/iphone-mockup-background-480.jpg");
  background-size: cover;
  padding-bottom: 30px;
}

.restaurenturer .multi-device {
  display: none;
}

.mockup-row .column:last-child {
  margin-right: 0;
}

.restaurenturer .mockups .inner-section-mockups .container {
  padding-right: 0;
}

.restaurenturer .mockups .mockup-row .column {
  min-width: 200px;
  max-width: 200px;
}

.restaurenturer .mockups .mockup-row .column:last-child {
  margin-right: 16px;
}

.restaurenturer .casestudy {
  margin-top: 50px;
}

/* Restaurenturer Medium devices (640px and larger) styling */
@media only screen and (min-width: 640px) {
  .restaurenturer .user-row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurenturer .insight {
    width: 50%;
    min-height: 200px;
    justify-content: center;
  }

  .restaurenturer .inner-section h2 {
    font-size: 24px;
  }

  .restaurenturer h3 {
    font-size: 20px;
    padding: 20px 0px;
  }

  .restaurenturer main p {
    font-size: 16px;
  }

  .insight:nth-child(1) {
    background-color: #dfded9;
  }

  .insight:nth-child(1) p {
    color: #111111;
  }

  .insight:nth-child(2) {
    background-color: #c1b59c;
    display: flex;
  }

  .insight:nth-child(2) p {
    color: #c1b59c;
  }

  .insight:nth-child(3) {
    background-color: #50778a;
    display: flex;
  }

  .insight:nth-child(3) p {
    color: #50778a;
  }

  .insight:nth-child(4) {
    background-color: #e7ebee;
  }

  .insight:nth-child(4) P {
    color: #111111;
  }

  .insight:nth-child(5) {
    background-color: #e8dce7;
  }

  .insight:nth-child(5) p {
    color: #111111;
  }

  .insight:nth-child(6) {
    background-color: #c690bf;
    display: flex;
  }

  .insight:nth-child(6) p {
    color: #c690bf;
  }

  .insight:nth-child(7) {
    background-color: #7d7377;
    display: flex;
  }

  .insight:nth-child(8) {
    background-color: #d7d5d6;
  }

  .insight:nth-child(8) p {
    color: #111111;
  }

  .insight:nth-child(9) {
    background-color: #dfded9;
  }

  .insight:nth-child(9) p {
    color: #111111;
  }

  .insight:nth-child(10) {
    background-color: #c1b59c;
    display: flex;
  }

  .insight:nth-child(10) p {
    color: #c1b59c;
  }

  .restaurenturer .competitor-analysis .column {
    margin-right: 20px;
    margin-top: 20px;
    min-width: 320px;
    max-width: 320px;
  }

  .restaurenturer .competitor-analysis .column:last-child {
    margin-right: 0;
  }

  .restaurenturer .competitor-analysis .opentable .mockup-row {
    justify-content: space-evenly;
  }

  /* .restaurenturer .competitor-analysis .opentable .mockup2 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 85%;

  } */
  .restaurenturer .competitor-analysis .phone-screens {
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
  }

  .restaurenturer .competitor-analysis .column p {
    margin-top: 10px;
  }

  .restaurenturer .wireframes .column {
    margin-right: 20px;
    margin-top: 20px;
    min-width: 200px;
    max-width: 200px;
  }

  .restaurenturer .style-guide {
    background-image: url("../img/restaurenturer/style-guide-background-767.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .restaurenturer .inner-section-mockups .iphone-mockups {
    background-image: url("../img/restaurenturer/iphone-mockup-background-767.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .restaurenturer .multi-device {
    display: block;
  }

  .restaurenturer .mockups .mockup-row .column:last-child {
    margin-right: 20px;
  }
}

/* Restaurenturer Larger devices (1024px and larger) styling */
@media only screen and (min-width: 1024px) {
  .restaurenturer .user-row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurenturer .insight {
    max-width: 33%;
  }

  .restaurenturer .inner-section h2 {
    font-size: 30px;
  }

  .restaurenturer h3 {
    font-size: 26px;
    padding: 20px 0px;
  }

  .restaurenturer h4 {
    font-size: 20px;
  }

  .restaurenturer .competitor-analysis .column {
    min-width: 300px;
    max-width: 300px;
    margin-right: 30px;
  }

  .mockup-row .column:last-child {
    margin-right: 0;
  }

  .restaurenturer .competitor-analysis .mockup-row {
    justify-content: center;
    overflow: hidden;
  }

  .restaurenturer .competitor-analysis .opentable .column {
    min-width: 350px;
    max-width: 350px;
  }

  .insight {
    height: 200px;
    padding: 20px 20px;
  }

  .insight:nth-child(1) {
    background-color: #dfded9;
  }

  .insight:nth-child(1) p {
    color: #111111;
  }

  .insight:nth-child(2) {
    background-color: #c1b59c;
  }

  .insight:nth-child(2) p {
    color: #c1b59c;
  }

  .insight:nth-child(3) {
    background-color: #e7ebee;
  }

  .insight:nth-child(3) p {
    color: #111111;
  }

  .insight:nth-child(4) {
    background-color: #c690bf;
  }

  .insight:nth-child(4) P {
    color: #c690bf;
  }

  .insight:nth-child(5) {
    background-color: #dfc8dd;
  }

  .insight:nth-child(5) p {
    color: #111111;
  }

  .insight:nth-child(6) {
    background-color: #7d7377;
  }

  .insight:nth-child(6) p {
    color: #7d7377;
  }

  .insight:nth-child(7) {
    background-color: #cbd6da;
  }

  .insight:nth-child(7) p {
    color: #111111;
  }

  .insight:nth-child(8) {
    background-color: #50778a;
  }

  .insight:nth-child(8) p {
    color: #50778a;
  }

  .insight:nth-child(9) {
    background-color: #dfded9;
  }

  .insight:nth-child(9) p {
    color: #111111;
  }

  .insight:nth-child(10) {
    background-color: #c1b59c;
    display: none;
  }

  .restaurenturer .personas .mockup-row {
    overflow: hidden;
    justify-content: space-between;
  }
  .restaurenturer .personas .mockup-row .column {
    padding-top: 20px;
    min-width: 32%;
    max-width: 32%;
  }

  .restaurenturer .mob-tab-persona-text {
    display: none;
  }

  .restaurenturer .style-guide {
    background-image: url("../img/restaurenturer/style-guide-background-1024.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .restaurenturer .wireframes h2 {
    padding-top: 60px;
  }

  .restaurenturer .inner-section-mockups .iphone-mockups {
    background-image: url("../img/restaurenturer/iphone-mockup-background-1024.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .restaurenturer .mockups .mockup-row .column:last-child {
    margin-right: 30px;
  }
}

/* Restaurenturer V.Large devices (1200px and larger) styling */
@media only screen and (min-width: 1200px) {
  .restaurenturer .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurenturer .inner-section h2 {
    font-size: 34px;
  }

  .restaurenturer h3 {
    font-size: 28px;
    padding: 20px 0px;
  }

  .restaurenturer main p {
    font-size: 18px;
  }

  .restaurenturer h4 {
    font-size: 22px;
  }

  .restaurenturer .style-guide {
    background-image: url("../img/restaurenturer/style-guide-background-1920.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .restaurenturer .inner-section-mockups .iphone-mockups {
    background-image: url("../img/restaurenturer/iphone-mockup-background-1920.jpg");
    background-size: cover;
    padding-bottom: 30px;
  }

  .restaurenturer .competitor-analysis .phone-screens .column {
    width: 450px;
  }

  .restaurenturer .mockups .mockup-row .column:last-child {
    margin-right: 50px;
  }
}

/* tickeveryday standard specific styling */
.tickeveryday .inner-section h2 {
  font-weight: 700;
  font-family: "Sofia Sans";
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #fa6400;
  text-align: center;
}

.tickeveryday h3 {
  font-weight: 700;
  font-family: "Sofia Sans";
  font-size: 17px;
  color: #0f31ed;
  text-align: center;
}

.tickeveryday main p {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "open sans";
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.tickeveryday span {
  font-weight: 700;
}

.tickeveryday .mockup-row .column {
  min-width: 200px;
  max-width: 200px;
  margin-right: 20px;
}

.tickeveryday .mockup-row .column:last-child {
  margin-right: 0px;
}

.tickeveryday .competitor-analysis .column p {
  margin-top: 10px;
  text-align: left;
}

.tickeveryday .typography {
  padding-top: 30px;
  padding-bottom: 10px;
}

.tickeveryday .ui-elements {
  padding-top: 10px;
}

.tickeveryday .mockups-1 {
  background-image: url("../img/tickeveryday/mockup1-background-480.jpg");
  background-size: cover;
}

.tickeveryday .mockups-1 h2 {
  padding-top: 30px;
  padding-bottom: 0;
}

.tickeveryday .mockups-1 .iphone-mockups-1 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.tickeveryday .mockups-2 {
  background-image: url("../img/tickeveryday/mockup2-background-480.jpg");
  background-size: cover;
}

.tickeveryday .mockups-2 .iphone-mockups-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tickeveryday .mockups-3 {
  background-image: url("../img/tickeveryday/mockup3-background-480.jpg");
  background-size: cover;
}

.tickeveryday .mockups-3 .iphone-mockups-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tickeveryday .mockups-3 .iphone-mockups-3 {
  min-width: 70%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.tickeveryday .mockups-4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/tickeveryday/iphone-background-480.jpg");
  background-size: cover;
}

.tickeveryday .mockups-4 .container {
  padding-right: 0;
}

.tickeveryday .mockups-4 .mockup-row .column {
  min-width: 200px;
  max-width: 200px;
}

.tickeveryday .mockups-4 .mockup-row .column:last-child {
  margin-right: 16px;
}

.tickeveryday .casestudy {
  margin-top: 50px;
}

/* tickeveryday Medium devices (640px and larger) styling */
@media only screen and (min-width: 640px) {
  .tickeveryday .inner-section h2 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tickeveryday h3 {
    font-size: 20px;
    padding: 10px 0px;
  }

  .tickeveryday main p {
    font-size: 16px;
  }

  .tickeveryday .competitor-analysis .mockup-row {
    display: flex;
    overflow: unset;
    justify-content: space-evenly;
  }

  .tickeveryday .competitor-analysis .mockup-row .column {
    min-width: 220px;
    max-width: 220px;
  }

  .tickeveryday .row-style-guide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .tickeveryday .colour-palette {
    max-width: 50%;
  }

  .tickeveryday .ui-elements {
    max-width: 38%;
    padding-top: 0px;
  }

  .tickeveryday .typography {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }

  .tickeveryday .mockups-1 {
    background-image: url("../img/tickeveryday/mockup1-background-767.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-1 .iphone-mockups-1 {
    padding-top: 0;
  }

  .tickeveryday .mockups-1 .iphone-mockups-1 picture {
    min-width: 70%;
    max-width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tickeveryday .mockups-2 picture {
    min-width: 90%;
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px auto;
  }

  .tickeveryday .mockups-2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .tickeveryday .mockups-3 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .tickeveryday .mockups-4 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .tickeveryday .mockups-3 picture {
    min-width: 90%;
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tickeveryday .mockups-2 {
    background-image: url("../img/tickeveryday/mockup2-background-767.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-3 {
    background-image: url("../img/tickeveryday/mockup3-background-767.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-4 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../img/tickeveryday/iphone-background-767.jpg");
    background-size: contain;
  }

  .tickeveryday .mockups-4 .mockup-row .column {
    min-width: 220px;
    max-width: 220px;
  }

  .tickeveryday .mockups-4 .mockup-row .column:last-child {
    margin-right: 20px;
  }
}

/* tickeveryday Larger devices (1024px and larger) styling */
@media only screen and (min-width: 1024px) {
  .tickeveryday .inner-section h2 {
    font-size: 35px;
    padding: 30px 0px;
  }

  .tickeveryday h3 {
    font-size: 26px;
    padding: 20px 0px;
  }

  .tickeveryday .competitor-analysis .mockup-row {
    justify-content: space-evenly;
    overflow: unset;
  }

  .tickeveryday .competitor-analysis .mockup-row .column {
    min-width: 300px;
    max-width: 300px;
  }

  .tickeveryday .mockup-row .column {
    min-width: 300px;
    max-width: 300px;
  }

  .tickeveryday .mockups-1 {
    background-image: url("../img/tickeveryday/mockup1-background-1024.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-2 {
    background-image: url("../img/tickeveryday/mockup2-background-1024.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-3 {
    background-image: url("../img/tickeveryday/mockup3-background-1024.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-4 {
    background-image: url("../img/tickeveryday/iphone-background-1024.jpg");
    background-size: contain;
  }

  .tickeveryday .mockups-4 .mockup-row {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .tickeveryday .mockups-4 .mockup-row .column:last-child {
    margin-right: 30px;
  }
}

/* tickeveryday V.Large devices (1200px and larger) styling */
@media only screen and (min-width: 1200px) {
  .tickeveryday .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .tickeveryday .inner-section h2 {
    font-size: 40px;
    padding: 30px 0px;
  }

  .tickeveryday h3 {
    font-size: 28px;
    padding: 20px 0px;
  }

  .tickeveryday main p {
    font-size: 18px;
  }

  .tickeveryday .mockups-1 {
    background-image: url("../img/tickeveryday/mockup1-background-1920.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-2 {
    background-image: url("../img/tickeveryday/mockup2-background-1920.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-3 {
    background-image: url("../img/tickeveryday/mockup3-background-1920.jpg");
    background-size: cover;
  }

  .tickeveryday .mockups-4 {
    background-image: url("../img/tickeveryday/iphone-background-1200.jpg");
    background-size: contain;
  }

  .tickeveryday .mockups-4 .mockup-row .column:last-child {
    margin-right: 50px;
  }
}

/* Footer specific styling */
.social-media {
  margin-right: 15px;
}

.social-media:last-child {
  margin-right: 0px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

footer {
  background-image: url("../img/home/get-in-touch-background-1920.jpg");
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  margin-top: 0px;
}

#contact h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

#contact p {
  padding: 10px 0px;
  margin: 0px;
}

/* ==============================
General Layout Styling for Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: center;
  }

  .about main {
    padding-top: 100px;
  }

  .work main {
    padding-top: 100px;
  }

  .wellnus main {
    padding-top: 100px;
  }

  .yolo main {
    padding-top: 100px;
  }

  .restaurenturer main {
    padding-top: 100px;
  }

  .tickeveryday main {
    padding-top: 100px;
  }

  .container {
    padding: 0 20px;
  }

  h1 {
    font-size: 35px;
    margin: 25px auto;
  }

  body {
    font-size: 16px;
  }
}

/* ==============================
General Layout Styling for Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero {
    background-image: url("../img/home/get-in-touch-background-1024.jpg");
    opacity: 0.7;
    background-size: cover;
  }

  #hero span {
    font-size: 26px;
  }

  #hero p {
    font-size: 20px;
  }

  h1 {
    font-size: 40px;
    margin: 25px auto;
  }

  body {
    font-size: 16px;
  }

  /* Projects specific styling */

  .project .read-more {
    display: flex;
  }

  .row-l .project .row:last-child {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .project .row:last-child {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .project h4 {
    margin-top: auto;
    padding-top: 15px;
  }

  .project {
    max-width: 48%;
    display: flex;
    flex-direction: column;
  }

  .project .p-text {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .row-l {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* ==============================
General Layout Styling for X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero {
    background-image: url("../img/home/get-in-touch-background-1920.jpg");
    opacity: 0.7;
    background-size: cover;
  }

  /* header {
      max-width: 1200px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    } */
  #hero p {
    padding-right: 50px;
    padding-left: 50px;
  }

  body {
    font-size: 18px;
  }

  .home h2 {
    padding: 30px 0;
  }

  .work h1 {
    margin: 0;
    padding-bottom: 30px;
  }
}

.modal-image {
  cursor: pointer;
  transition: 0.3s;
}

.modal-image:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 60px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  opacity: 1 !important;
  max-width: 1200px;
}

/* Caption of Modal Image */
.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1em;
  margin-top: 32px;
}

/* Add Animation */
.modal-content,
.modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-atransform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
